<div class="flex-fill" layout="row" layout-align="center start">
  <div flex flex-gt-sm="75">

    <div class="mt2 md-title"
         layout="row"
         layout-align="center center">
      {{ $ctrl.poll.question }}
    </div>

    <!-- Answer -->
    <form
      class="mt2"
      layout="column"
      layout-align="center stretch"
      layout-padding
      ng-if="$ctrl.poll.type === 'geo' && !$ctrl.answered"
      ng-submit="$ctrl.answer($ctrl.choice)"
    >

      <md-autocomplete
        md-delay="500"
        md-selected-item="$ctrl.choice"
        md-search-text="$ctrl.searchText"
        md-items="item in $ctrl.locationSearch($ctrl.searchText)"
        md-item-text="item.place_name"
        md-min-length="1"
        md-autofocus="true"
        placeholder="Search location e.g. city, state, country ..."
      >
        <md-item-template>
          <span md-highlight-text="$ctrl.searchText">{{ item.place_name }}</span>
        </md-item-template>
        <md-not-found>
          No location matching "{{ $ctrl.searchText }}" were found.
        </md-not-found>
      </md-autocomplete>

      <div class="mt2" layout="column" layout-align="center center">
        <md-button ng-if="$ctrl.choice"
                   class="md-raised md-primary"
                   type="submit">Send Answer</md-button>

        <md-button ng-if="$ctrl.created"
                   ng-click="$ctrl.skipAnswer()"
                   class="md-primary"
                   type="button">Skip to Results</md-button>
      </div>

    </form>

    <!-- Result -->
    <div
      class="mt2"
      layout="column"
      layout-align="center center"
      layout-padding
      ng-if="$ctrl.answered"
    >

      <graph-map
        ng-if="$ctrl.poll.type === 'geo'"
        answers="$ctrl.poll.answers"
        show-answers="$ctrl.showAnswers"
        show-counts="$ctrl.showCounts"
      ></graph-map>

      <div layout="row">
        <md-switch
          class="md-primary"
          ng-model="$ctrl.showAnswers">
          Show Answers
        </md-switch>
        <md-switch
          class="md-primary"
          ng-model="$ctrl.showCounts">
          Show Counts
        </md-switch>
      </div>

      <share-poll></share-poll>

      <md-button class="md-primary md-raised" ng-click="$ctrl.goTo('landing')">Create New Poll</md-button>

      <md-button class="md-primary" ng-click="$ctrl.clonePoll($ctrl.poll)">Clone Poll</md-button>

    </div>

  </div>
</div>
