<div class="flex-fill" layout="row" layout-align="center start">
  <div flex>

    <div class="mt2 md-title"
         layout="row"
         layout-align="center center">
      {{ $ctrl.poll.question }}
    </div>

    <!-- Answer -->
    <div
      flex
      layout="row"
      layout-align="center center"
      ng-if="!$ctrl.answered"
    >
      <form
        flex
        flex-gt-sm="75"
        flex-gt-md="50"
        class="mt2"
        layout="column"
        layout-align="center stretch"
        layout-padding
        ng-submit="$ctrl.answer($ctrl.choice)"
      >

        <md-autocomplete
          flex
          md-delay="500"
          md-selected-item="$ctrl.choice"
          md-search-text="$ctrl.searchText"
          md-items="item in $ctrl.locationSearch($ctrl.searchText)"
          md-item-text="item.place_name"
          md-min-length="1"
          md-autofocus="true"
          placeholder="Search location e.g. city, state, country ..."
        >
          <md-item-template>
            <span md-highlight-text="$ctrl.searchText">{{ item.place_name }}</span>
          </md-item-template>
          <md-not-found>
            No location matching "{{ $ctrl.searchText }}" were found.
          </md-not-found>
        </md-autocomplete>

        <div class="mt2" layout="column" layout-align="center center">
          <md-button ng-if="$ctrl.choice"
                     class="md-raised md-primary"
                     type="submit">Send Answer</md-button>

          <md-button ng-if="$ctrl.created"
                     ng-click="$ctrl.skipAnswer()"
                     class="md-primary"
                     type="button">Skip to Results</md-button>
        </div>

      </form>
    </div>

    <!-- Result -->
    <div
      class="mt2"
      layout="column"
      layout-align="center center"
      layout-padding
      ng-if="$ctrl.answered"
    >

      <graph-map answers="$ctrl.poll.answers"></graph-map>

      <share-poll></share-poll>

      <md-button class="md-primary md-raised" ng-click="$ctrl.goTo('landing')">Create New Poll</md-button>

    </div>

  </div>
</div>
