<div class="flex-fill" layout="row" layout-align="center start">
  <div flex flex-gt-sm="75">
    <form
      class="mt2"
      flex
      flex-gt-sm="50"
      flex-offset-gt-sm="25"
      layout-padding
      ng-submit="$ctrl.createPoll($ctrl.newPoll)"
    >

      <md-input-container
        md-no-float
        class="md-block mt2 -lg -simple">
        <input ng-model="$ctrl.newPoll.question"
               type="text"
               placeholder="Ask your question"
               required
               autofocus
               md-no-asterisk
        >
      </md-input-container>

      <md-radio-group
        ng-if="$ctrl.newPoll.question"
        ng-model="$ctrl.newPoll.type"
      >
        <md-radio-button value="mc">Multiple Choice</md-radio-button>
        <md-radio-button value="geo">Geography</md-radio-button>
      </md-radio-group>

      <div ng-if="$ctrl.newPoll.question && $ctrl.newPoll.type === 'mc'">
        <md-input-container
          class="md-block"
          ng-repeat="answer in $ctrl.newPoll.choices track by $index"
        >
          <label>Answer</label>
          <input ng-model="$ctrl.newPoll.choices[$index]"
                 type="text"
                 md-maxlength="44"
                 ng-required="$index < 2">
        </md-input-container>
      </div>

      <md-button ng-if="$ctrl.newPoll.question"
                 class="md-raised md-primary"
                 type="submit">Create</md-button>

      <md-button ng-if="$ctrl.newPoll.question"
                 ng-click="$ctrl.cancel()"
                 type="button">Cancel</md-button>

    </form>
  </div>
</div>
