<md-sidenav
  class="md-sidenav-left"
  md-component-id="leftNav"
  md-whiteframe="4"
>
  <md-content>

    <div layout-padding>
      <p class="md-body-1">Menu</p>
    </div>

  </md-content>
</md-sidenav>

<div layout="column" flex>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <div layout-align="start center">
        <md-button
          class="md-icon-button"
          ng-click="$ctrl.toggleLeftNav()">
          <md-icon>menu</md-icon>
        </md-button>
      </div>
      <div flex layout="row" layout-align="center center">
        <div>App Title</div>
      </div>
      <div layout-align="end center">
        <md-button
          ng-if="!$ctrl.user"
          ng-click="$ctrl.signIn()">Sign In with Google</md-button>
        <md-list-item ng-if="$ctrl.user">
          <img ng-src="{{ $ctrl.user.photoURL }}" class="md-avatar">
        </md-list-item>
      </div>
    </div>
  </md-toolbar>

  <md-content md-scroll-y layout="column" flex>
    <div flex ui-view></div>
  </md-content>

</div>
