<div class="flex-fill" layout="row" layout-align="center start">
  <div flex flex-gt-sm="75">

    <div class="mt2 md-title"
         layout="row"
         layout-align="center center">
      {{ $ctrl.poll.question }}
      <md-progress-circular ng-if="!$ctrl.poll.choices"></md-progress-circular>
    </div>

    <!-- Answer -->
    <form
      class="mt2"
      layout="column"
      layout-align="center center"
      layout-padding
      ng-if="$ctrl.poll.type === 'mc' && !$ctrl.answered"
      ng-submit="$ctrl.answer($ctrl.choice)"
    >

      <md-radio-group ng-model="$ctrl.choice">
        <md-radio-button
          ng-repeat="choice in $ctrl.poll.choices track by $index"
          value="{{ $index }}">
          {{ choice.text }}
        </md-radio-button>
      </md-radio-group>

      <md-button ng-if="$ctrl.choice"
                 class="md-raised md-primary"
                 type="submit">Send Answer</md-button>

      <md-button ng-if="$ctrl.created"
                 ng-click="$ctrl.skipAnswer()"
                 class="md-primary"
                 type="button">Skip to Results</md-button>

    </form>

    <!-- Result -->
    <div
      class="mt2"
      layout="column"
      layout-align="center center"
      layout-padding
      ng-if="$ctrl.answered"
    >

      <graph-bar
        ng-if="$ctrl.poll.type === 'mc'"
        choices="$ctrl.poll.choices"
        show-answers="$ctrl.showAnswers"
        show-counts="$ctrl.showCounts"
      ></graph-bar>

      <div layout="row">
        <md-switch
          class="md-primary"
          ng-model="$ctrl.showAnswers">
          Show Answers
        </md-switch>
        <md-switch
          class="md-primary"
          ng-model="$ctrl.showCounts">
          Show Counts
        </md-switch>
      </div>

      <share-poll></share-poll>

      <md-button class="md-primary md-raised" ng-click="$ctrl.goTo('landing')">Create New Poll</md-button>

      <md-button class="md-primary" ng-click="$ctrl.clonePoll($ctrl.poll)">Clone Poll</md-button>

    </div>

  </div>
</div>
