<div class="flex-fill" layout="row" layout-align="center start">
  <div flex flex-gt-sm="75">

    <div class="mt2 md-title"
         layout="row"
         layout-align="center center">
      {{ $ctrl.poll.question }}
    </div>

    <!-- Vote -->
    <form
      class="mt2"
      layout="column"
      layout-align="center center"
      layout-padding
      ng-if="!$ctrl.voted"
      ng-submit="$ctrl.vote($ctrl.choice)"
    >

      <md-radio-group ng-model="$ctrl.choice">
        <md-radio-button
          ng-repeat="answer in $ctrl.poll.answers track by $index"
          value="{{ $index }}">
          {{ answer.text }}
        </md-radio-button>
      </md-radio-group>

      <md-button ng-if="$ctrl.choice"
                 class="md-raised md-primary"
                 type="submit">Vote</md-button>

    </form>

    <!-- Result -->
    <div
      class="mt2"
      layout="column"
      layout-align="center center"
      layout-padding
      ng-if="$ctrl.voted"
    >
      <graph-bar answers="$ctrl.poll.answers"></graph-bar>

      <div class="mt2" layout="row" layout-align="center center">
        <div class="md-subheader mr1">Share:</div>

        <md-input-container>
          <input
            id="shortURL"
            ng-model="$ctrl.shortURL"
            aria-label="Share URL">
        </md-input-container>

        <md-button
          class="md-primary md-raised clipboard"
          data-clipboard-action="copy"
          data-clipboard-target="#shortURL"
        >Copy</md-button>
      </div>

    </div>

  </div>
</div>
