body {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  font-size: 14px;
}

/* Link Default */
a,
a:visited {
  color: #265C83;
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:focus {
  color: #7FDBFF;
  text-decoration: none;
}

a:active  {
  transition: color 0.15s;
  color: #007BE6;
}

/* Force fill height in flex */
.flex-fill {
  min-height: 100%;
}

/* Responsive image */
.img-responsive {
  max-width: 100%;
  max-height: 100%;
}

/* Margin Modifiers */
.mt0 {
  margin-top: 0;
}

.mt1 {
  margin-top: 1em;
}

.mt2 {
  margin-top: 2em;
}

.mr0 {
  margin-right: 0;
}

.mr1 {
  margin-right: 1em;
}

.mr2 {
  margin-right: 2em;
}

.mb0 {
  margin-bottom: 0;
}

.mb1 {
  margin-bottom: 1em;
}

.mb2 {
  margin-bottom: 2em;
}

.ml0 {
  margin-left: 0;
}

.ml1 {
  margin-left: 1em;
}

.ml2 {
  margin-left: 2em;
}

/* iOS zoom  fix */

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

/* Material Design - Icons */
md-icon.md-custom-theme.md-36 {
  width: 36px;
  height: 36px;
  font-size: 36px;
}

md-icon.md-custom-theme.md-48 {
  width: 48px;
  height: 48px;
  font-size: 48px;
}
